*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1ft;
    grid-template-areas: "cabecalho" "principal" "rodape ";

}

.cabecalho{
    grid-area: cabecalho;
    background-color: blue;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rba(0,0,0,0.75);

}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;

}

.cabecalho > h2 {
    margin: 0px;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: rgb(255, 255, 255);
    padding: 20px;

}

.conteudo{
    position: relative;
    height: scroll;
    overflow-y: scroll;
    background-color:  #FFF;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}   

.rodape{
    grid-area: rodape;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #292727;
  /*
    position: sticky;
    bottom: 0px;
  */
}

.modulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo{
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3{
    margin: 0px;
    color: #FFF;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background: #000;

}

.modulo > ul{
    margin: 0px;
    padding: 10px;
    list-style: none;

}

.modulo > ul > li{
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;

}

.modulo ul li:hover{
    display: flex;
    text-decoration: none;
    color: #222;

}

.modulo {
    background:#000;
}

.modulo > ul > li:hover{
    background-color: #03ff2d;
    border: 1px double  #000;
}

.modulo.verde {
    border: 3px solid #05dd0c;
}


.modulo.vermelho {
    border: 3px solid rgb(255, 2, 2);
}

.modulo.azul {
    border: 3px solid rgb(19, 2, 255);
}


.modulo.roxo {
    border: 3px solid rgb(133, 2, 255);
}

.modulo.laranja {
    border: 3px solid rgb(255, 145, 2);
}

.modulo.verde-escuro {
    border: 3px solid rgb(9, 99, 24);
}

.modulo.azul-escuro {
    border: 3px solid rgb(4, 28, 165);
}

.modulo.roxo-escuro {
    border: 3px solid rgb(75, 3, 143);
}

.modulo.azul-oceano {
    border: 3px solid rgb(0, 247, 255);
}
