*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1ft;
    grid-template-areas: "cabecalho" "principal" "rodape ";

}

.cabecalho{
    grid-area: cabecalho;
    background-color: blue;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rba(0,0,0,0.75);

}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;

}

.cabecalho > h2 {
    margin: 0px;
    font-weight: ;
}



.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    background-color: rgb(255, 255, 255);
    padding: 20px;

}

.conteudo{
    position: relative;
    height: scroll;
    overflow-y: scroll;
    background-color:  #FFF;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}   

.rodape{
    grid-area: rodape;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #292727;
  /*
    position: sticky;
    bottom: 0px;
  */
}

.modulos{
    display: flex;
}